<%= form_with(model: bill, local: true, data: {turbo: false}, id: "bill-form")  do |form| %>
  <% if bill.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
        <% bill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :customer_email, style: "display: block" %>
    <%= form.text_field :customer_email %>
  </div>
  <hr>
  <div class="bill-section">
    <h1>Bill Section</h1>
    <div class="bill_products">
      <%= form.fields_for :bill_products do |bill_product| %>
          <%= render "bills/bill_product_fields", f: bill_product %>
    <% end %>

      <div class="links">
<!--        <%#= link_to_add_association "Add products", fields, :bill_products %> #=> Error-->
        <%= link_to_add_association "Add products", form, :bill_products %>
        <!--    , data: {association_insertion_node: '.bill_products', association_insertion_method: :append}      -->
        <!--          , partial: 'bills/bill_product_form'-->
      </div>

    </div>
  </div>

  <hr>

    <div>
    <% denominations = [2000, 500, 200, 100, 50, 10, 5, 2, 1 ] %>
    <% denominations.each do |denom| %>
      <div style="display: inline-flex; margin: 10px">
        <%= form.label "denominations[#{denom}]", denom ,style: "display: block" %>
        <span style="margin: 10px"></span>
        <%= form.number_field "denominations[#{denom}]" %>
      </div>
    <% end %>
  </div>

  <hr>

  <div>
    <%= form.label :customer_amount %>
    <%#= form.number_field :customer_amount %>
    <%#= form.number_field :customer_amount, value: number_to_currency(form.object.customer_amount.to_f, delimiter: '', unit: ''), step: :any %>
    <%= form.number_field :customer_amount, step: :any %>
  </div>
  <div>
    <%= form.submit %>
    <%= form.button 'Cancel', type: 'button', id: 'cancelButton' %>
  </div>
<% end %>

<script>
    $('#cancelButton').on('click', function() {
        $('#bill-form')[0].reset(); // This clears all fields within the form
    });

</script>