
<% bill_products.each do |bill_product| %>
<tr>
  <td> <%= bill_product.product_id %></td>
  <td>₹<%= format('%.2f', bill_product.product.unit_price)  %></td>
  <td> <%= bill_product.quantity %></td>
  <td>₹<%= format('%.2f', bill_product.purchased_price)  %></td>
  <td> <%= format('%.2f',  bill_product.product.tax_percent)  %>%</td>
  <td>₹<%= format('%.2f', bill_product.tax_payable)  %></td>
  <td>₹<%= format('%.2f', bill_product.total_price)  %></td>

</tr>
<% end %>